<html>
<head>
    <title>Travle Blog</title>
</head>
<body>
    <h2>Travel Blog</h2>
    <p>@Html.ActionLink("Experiences", "Index", "Experiences")</p>
	<p>@Html.ActionLink("Locations", "Index", "Locations")</p>

</body>
</html>