@model Gummi.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
body {
background-image:url("../images/background.jpg");
}
.container {
  margin-top:1%;
  margin-bottom:1%;
}
#everything {
  opacity:1;
}
.contentbackground {
  background-color:black;
  color:white;
  padding-left:15px;
  padding-right:15px;
  padding-top:30px;
  padding-bottom:30px;
  border-left:2px solid black;
  border-right:2px solid black;
  border-bottom:2px solid black;
  font-family: 'Roboto', sans-serif;
  height:90%;
    opacity:.95;
}
.contentbackground h1 {
  text-align:center;
  font-family: 'Questrial', sans-serif;
}
.contentbackground h3 {
  margin-top:10px;
  font-family: 'Questrial', sans-serif;
}
.navbar {
  font-family: 'Squada One', cursive;
  font-size:30px;
  border-bottom:1px solid silver;
  padding-bottom:0px;
  border-top-left-radius:90%;
  text-shadow: 9px 12px 25px black;
}
.navbar li {
  margin-left:18px;
}
th {
    font-family: 'Questrial', sans-serif;
}
td {
    font-family: 'Assistant', sans-serif;
}
#gbk {
  color:#bbe3ed;
  -webkit-text-stroke: 3px black;
  font-size:45px;
  margin-left:30px;
  font-family: 'Kanit', sans-serif;
  text-shadow: 9px 12px 25px black;
}
.deletelink a{
  color:red;
}
.navbar-nav {
  margin-left:50%;
}
.cellright {
  text-align:right;
}
.navbacker {
  background-color:white;
  border-top-left-radius:90px;
  opacity:.96;
}
p {
  font-size:22px;
  font-family: 'Assistant', sans-serif;
}
</style>

<div class="contentbackground">
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")
</div>
