@{
  Layout = "_Layout";
}

<div class="contentbackground">
    <h2>GUMMI BEAR KINGDOM</h2>

    <h3>This app was created for the intention of users to keep tracking of stolen inventory and the amount
    it can be sold for on the black market.  It is still in an early stage but many more features will be added
    to help local crime groups take stock of their personal records and hopefully increase profits!</h3>

</div>
