@{
  Layout = "_Layout";
}

<div class="blah">
    <h2>Gummibear Kingdom</h2>

    <p>@Html.ActionLink("Products", "Index", "Products")</p>
	   <p>@Html.ActionLink("Categories", "Index", "Categories")</p>
</div>
